<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.google.com"
            />
            <input type="submit" value="Shorten" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/Soriphen">Thomas T</a></p>
    </footer>
  </body>
</html>
